<mat-tab-group [disableRipple]="true" [animationDuration]="0" [selectedIndex]="index" class="alertsTabs">
  <!--
    Defects tab
  -->
  <mat-tab *syndicatePermissions="['ALERTS_DEFAULTS']">
    <ng-template mat-tab-label>
      <div id="defects">
        <mat-icon class="iconDefects" svgIcon="defect"></mat-icon>
        <span>{{ "alerts.defects" | i18next }}</span>
        <div class="count">
          {{ defaultsTotalCount }}
        </div>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-datatable [data]="defaults" [dataCount]="defaultsCount ? defaultsCount : '0'"[type]="'defaults'" [selectLabel]="'categorie'"
        [options]="categories" [select]="true" [displayedColumns]="['vId', 'd', 'c', 'action']"
        [pageSizeOptions]="[25, 50, 100]" [footer]="true" (refreshDataEmitter)="onRefreshDefaults($event)"
        (displayDetailEmitter)="onDisplayDetail($event)">
      </syndicate-datatable>
    </ng-template>
  </mat-tab>
  <!--
    Alarms tab
  -->
  <mat-tab class="alarms" *syndicatePermissions="['ALERTS_ALERTS']">
    <ng-template mat-tab-label>
      <div id="alarms">
        <mat-icon class="iconBell" svgIcon="small_bell"></mat-icon>
        <span>{{ "alerts.alarms" | i18next }}</span>
        <div class="count">
          {{ alarmsTotalCount }}
        </div>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-datatable [data]="alarms" [dataCount]="alarmsCount ? alarmsCount : '0'" [type]="'alarms'" [selectLabel]="'categorie'"
        [options]="categories" [select]="true" [displayedColumns]="['vId', 'd', 'c', 'action']"
        [pageSizeOptions]="[25, 50, 100]" [footer]="true" (refreshDataEmitter)="onRefreshAlarms($event)"
        (displayDetailEmitter)="onDisplayDetail($event)">
      </syndicate-datatable>
    </ng-template>
  </mat-tab>
  <!--
    Historical tab
  -->
  <mat-tab *syndicatePermissions="['ALERTS_HISTORY']">
    <ng-template mat-tab-label>
      <div id="historical">
        <mat-icon class="iconHistory" svgIcon="history"></mat-icon>
        <span>{{ "alerts.historical" | i18next }}</span>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-datatable [data]="historical" [dataCount]="historicalCount ? historicalCount : '0'" [type]="'historical'" [selectLabel]="'categorie'"
        [options]="categories" [select]="true" [searchbar]="true" [datepicker]="true"
        [displayedColumns]="['type', 'vId', 'startDate', 'endDate', 'category', 'action']"
        [pageSizeOptions]="[25, 50, 100]" [footer]="true" (refreshDataEmitter)="onRefreshHistorical($event)"
        (displayDetailEmitter)="onDisplayDetail($event)">
      </syndicate-datatable>
    </ng-template>
  </mat-tab>
</mat-tab-group>