.condition {
  .header {
    position: relative;
    padding: 27px 30px 27px 30px;
    border-bottom: 1px solid rgba(16, 76, 144, 0.1);
    display: flex;
    align-items: center;
    .result {
      min-width: 24px;
      max-width: 24px;
      max-height: 24px;
      min-height: 24px;
    }
    h1 {
      height: 29px;
      margin: 0 0 0 10px;
      color: #004289;
      font-family: "OpenSansBold";
      font-size: 24px;
      font-weight: bold;
    }
    #close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      color: #333333;
    }
  }
  mat-dialog-content {
    margin: 29px 50px;
    .condition {
      display: flex;
      align-items: center;
      justify-items: center;
      color: #626262;
      font-family: "OpenSans";
      font-size: 18px;
      margin-bottom: 10px;
      .round {
        margin-right: 12px;
        height: 12px;
        min-height: 12px;
        min-width: 12px;
        width: 12px;
        border-radius: 6px;
      }
    }
  }
  mat-dialog-actions {
    margin: 0;
    justify-content: center;
    padding: 0 0 33px 0;
    button {
      height: 40px;
      width: 193px;
      border-radius: 20px;
      background-color: #004289;
      color: #ffffff;
      font-family: "OpenSans";
      font-size: 14px;
      border: none;
      cursor: pointer;
      outline: none;
      &:hover {
        background-color: rgba(16, 76, 144, 0.1);
        color: #ffffff;
      }
    }
  }
}
