<div class="confirm">
  <div class="header" [ngStyle]="{'background-color': data.important ? '#FF4A58' : '#004289'}">
    <h1 mat-dialog-title>
      {{ "global.confirm" | i18next }}
    </h1>
    <mat-icon svgIcon="close" id="close" mat-dialog-close></mat-icon>
  </div>
  <mat-dialog-content>
    <p *ngIf="!data.important">{{ data.message }}</p>
    <div *ngIf="data.important" class="importantAction" >
      <mat-icon svgIcon="warning" [ngStyle]="{'color': data.important ? '#FF4A58' : ''}"></mat-icon>
      <p *ngIf="!data.message">{{ "global.action.confirmation" | i18next }}</p>
      <p *ngIf="data.message">{{ data.message| i18next }}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close id="cancelBtn" [ngClass]="{ 'cancelBtnImportant': data.important }">
      {{ "global.cancel" | i18next }}
    </button>

    <button mat-button id="confirmBtn" mat-dialog-close="true" [ngClass]="{ 'confirmBtnImportant': data.important }">
      {{ "global.yes" | i18next }}
    </button>
  </mat-dialog-actions>
</div>
