.variablesTabs {
  #variables,
  #historical,
  #counter {
    display: flex;
    align-items: center;
    mat-icon {
      font-size: 24px;
      margin-right: 10px;
      border: 1px solid;
      border-radius: 5px;
      width: 28px;
      height: 28px;
      background-color: #000000;
    }
    span {
      font-size: 20px;
      font-family: "OpenSans";
    }
  }
  [aria-posinset="1"],
  [aria-posinset="2"],
  [aria-posinset="3"] {
    &.mat-ripple.ng-star-inserted.mat-tab-label-active {
      border-bottom: 3px solid #004289 !important;
      #variables,
      #historical,
      #counter {
        color: #004289;
        mat-icon {
          background-color: #004289;
        }
      }
    }
  }
  [aria-posinset="1"],
  [aria-posinset="2"],
  [aria-posinset="3"] {
    &.mat-ripple:hover {
      background-color: rgba(0, 66, 137, 0.1);
    }
  }
}
mat-tab-body {
  padding: 5px;
  .mat-tab-body-content {
    overflow: hidden;
  }
}