.order {
  float: right;
  color: #6E7F95;
  border: 2px solid #6E7F95;
  background-color: white;
  height: 40px;
  border-radius: 20px;
  font-family: "OpenSans";
  font-size: 14px;
  cursor: pointer;
  outline: none;
  margin: 0 0 0 82px;
}