<button class="order" (click)="changePosition()" mat-button>
  <mat-icon class="icon-order" svgIcon="order"></mat-icon>
  {{ "admin.order" | i18next }}
</button>

<syndicate-datatable
  [type]="'views'"
  [data]="views"
  [dataCount]="count"
  [displayedColumns]="['label', 'action']"
  [pageSizeOptions]="[25, 50, 100]"
  [select]="false"
  [footer]="true"
  [add]="true"
  [addLabel]="'admin.create.view'"
  [addPermission]="'ADMIN_VIEWS_CREATE'"
  [editPermission]="'ADMIN_VIEWS_UPDATE'"
  [deletePermission]="'ADMIN_VIEWS_DELETE'"
  (editEmitter)="onEditView($event)"
  (refreshDataEmitter)="onRefreshView($event)"
  (removeEmitter)="onRemoveView($event)"
  (addEmitter)="onCreateView()">
</syndicate-datatable>