.list {
  mat-list {
    position: relative;
    column-rule: 1px solid #979797;
  }
  hr {
    position: absolute;
    top: 0;
    left: 50%;
    height: 90%;
    margin: 15px auto;
    border: none;
  }
}