<div class="login">
  <div class="logo">
    <img src="assets/imgs/app-name@2x.png" alt="valise diagnostic" />
  </div>
  <div class="loginForm">
    <div class="header">
      <h1>{{ "global.connect" | i18next }}</h1>
    </div>
    <div class="content">
      <form [formGroup]="loginForm" (ngSubmit)="login()" id="loginForm">
        <mat-form-field>
          <input matInput type="text" placeholder="{{ 'form.username' | i18next }}" formControlName="username" />
          <mat-error class="error" *ngIf="loginForm.get('username').hasError('required')">
            {{ 'form.missing.username' | i18next }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [type]="show ? 'text': 'password'" placeholder="{{ 'form.password' | i18next }}"
            formControlName="password" autocomplete="off" />
          <mat-icon class="eye" svgIcon="eye" matSuffix (click)="password()"
            [matTooltip]="'form.tooltip.show' | i18next" *ngIf="!show"></mat-icon>
          <mat-icon class="hide" svgIcon="hide" matSuffix (click)="password()"
            [matTooltip]="'form.tooltip.hide' | i18next" *ngIf="show"></mat-icon>
          <mat-error class="error" *ngIf="loginForm.get('password').hasError('required')">
            {{ 'form.missing.password' | i18next }}
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="wrongCredentials">
      <p *ngIf="wrongCredentials">{{ 'form.wrongLogs' | i18next }}</p>
    </div>
    <div class="footer">
      <button mat-button form="loginForm" [disabled]="!loginForm.valid || loading"
        [ngClass]="{'disabledBtn': !loginForm.valid || loading}">
        <mat-spinner *ngIf="loading" class="spinner" diameter="20"></mat-spinner>
        {{ "global.login" | i18next }}
      </button>
    </div>
  </div>
</div>