.form {
  height: 100%;
  display: flex;
  flex-direction: column;

  syndicate-header {
    order: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
    background-color: #ffffff;
    padding: 20px 12.5px;

    ::ng-deep.mat-horizontal-stepper-header-container {
      width: fit-content;
    }

    ::ng-deep.mat-expansion-indicator::after {
      border-color: #6E7F95;
    }

    .view-label {
      padding: 10px;
    }

    #view {
      width: 100%;
      height: 100%;

      .infos-basic {
        display: flex;
        flex-direction: column;

        mat-label {
          color: #152935;
          font-family: "OpenSans";
          font-size: 14px;
          letter-spacing: 0;
          line-height: 17.09px;
        }

        mat-form-field {
          margin-top: 7px;
          width: 100%;
          font-family: "OpenSans";
          font-size: 18px;

          ::ng-deep .mat-form-field-outline {
            top: 0;
            color: #9AA7B6;
          }

          ::ng-deep .mat-form-field-infix {
            border-top: 0;
          }

          ::placeholder {
            color: #5A6872;
            font-family: "OpenSans";
            font-size: 16px;
            letter-spacing: 0;
            line-height: 22px;
          }

          .error {
            color: #ed1c2c;
            font-size: 10px;
            margin-top: 0;
          }
        }
      }
    }

    #back {
      margin: 0 0 0 24px;
      width: auto;

      span {
        margin: 0 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

        mat-icon {
          margin-right: 10px;
        }
      }
    }

    .btn {
      height: 40px;
      width: 200px;
      border-radius: 20px;
      font-family: "OpenSans";
      font-size: 14px;
      cursor: pointer;
      outline: none;
      line-height: 17px;
      background-color: #134E91;
      color: white;

      &.stroked {
        border-color: #134E91;
        background-color: white;
        color: #134E91;
        border-width: 2px;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;

      #cancel {
        margin: 0 0 0 24px;
      }
    }

    button {
      mat-icon {
        height: 17px;
      }
    }

    .step {
      .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        syndicate-view-card-form {
          max-width: calc(50% - 10px);
          min-width: calc(50% - 10px);
          margin-bottom: 20px;

          &:nth-child(even) {
            margin-left: 10px;
          }

          &:nth-child(odd) {
            margin-right: 10px;
          }
        }
      }
    }

    .order {
      p {
        color: #333333;
        font-family: "OpenSans";
        font-size: 16px;
        letter-spacing: 0;
        line-height: 19px;
      }

      .card-group {
        border-radius: 6px;
        background-color: #F7F7F7;
        display: flex;
        flex-direction: row;
        margin: 30px 0;
        padding: 10px 110px;
        flex-wrap: wrap;

        .card-drag {
          min-width: 50%;
          max-width: 50%;
        }

        .card-drag_placeholder {
          border-radius: 6px;
          background-color: #D7D7D7;
          min-width: calc(50% - 40px);
          max-width: calc(50% - 40px);
          min-height: 184px;
          margin: 10px 20px;
        }

        .card-drag_element {
          display: flex;
          flex-direction: column;
          background-color: white;
          min-width: 50%;
          border-radius: 6px;
          margin: 10px 20px;
          padding: 17px 30px;
          min-height: 150px;

          p {
            margin: 0;
            color: #6E7F95;
            font-family: "OpenSans";
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 22px;
          }

          mat-icon {
            align-self: flex-end;
            color: #6E7F95;
            cursor: pointer;
            margin-top: 30px;
          }

          &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            p {
              color: #134E91;
              font-family: "OpenSansBold";
            }

            mat-icon {
              color: #6E7F95;
              cursor: grab;
              margin-top: 0;
            }

            mat-icon:active {
              cursor: grabbing;
            }
          }
        }
      }
    }
  }
}
