.counter {
  .header {
    position: relative;
    padding: 27px 43px 43px 43px;
    border-bottom: 1px solid rgba(16, 76, 144, 0.1);
    h1 {
      margin: 0;
      color: #004289;
      font-family: "OpenSansBold";
      font-size: 24px;
      font-weight: bold;
    }
    #close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
  mat-dialog-content {
    margin: 0;
    padding: 0px 43px;
    #counterForm {
      .row {
        display: inline-block;
        width: 100%;
        mat-form-field {
          width: 45%;
        }
      }
      .choice {
        .description {
          font-family: "OpenSans";
          font-size: 18px;
          letter-spacing: 0;
          line-height: 18px;
        }
        .btn {
          height: 40px;
          width: 200px;
          border-radius: 20px;
          font-family: "OpenSans";
          font-size: 14px;
          cursor: pointer;
          outline: none;
          line-height: 17px;
          background-color: #134E91;
          color: white;
        }
        #addVariable {
          background-color: #ffffff;
          color: #004289;
          border: 2px solid #004289;
          float: left;
          margin-right: 5px;
          &:hover {
            background-color: #004289;
            color: #ffffff;
          }
        }
        .variable:nth-of-type(1) {
          margin-top: 20px;
        }

        .variable {
          .info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #626262;
            font-family: "OpenSans";
            font-size: 18px;
            letter-spacing: 0;
            line-height: 22px;
            padding: 20px;
          }
          .initOn {
            display: block;
            padding: 20px 0px;
          }
          mat-icon {
            height: 28px;
            width: 28px;
            line-height: 28px;
            cursor: pointer;
          }
          ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
            background-color: rgb(0 66 137 / 52%);
          }
          ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
            background-color: #134e91 !important;
          }
          ::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
            background-color: #134e91 !important;
          }
        }
      }
      mat-form-field {
        width: 100%;
        margin: 10px;
        font-family: "OpenSans";
        font-size: 18px;
        float: left;
        .error {
          color: #ed1c2c;
          font-size: 10px;
          margin-top: 0;
        }
      }
    }
  }
  mat-dialog-actions {
    margin: 0;
    justify-content: space-between;
    padding: 33px 43px;
    button {
      height: 40px;
      width: 193px;
      border-radius: 20px;
      font-family: "OpenSans";
      font-size: 14px;
      border: none;
      cursor: pointer;
      outline: none;
    }
    #cancelBtn {
      background-color: #ffffff;
      color: #004289;
      border: 1px solid #004289;
      &:hover {
        background-color: #004289;
        color: #ffffff;
      }
    }
    #createBtn {
      background-color: #004289;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:hover {
        background-color: rgba(16, 76, 144, 0.1);
        color: #ffffff;
      }
      &.disabledBtn {
        background-color: rgba(16, 76, 144, 0.1);
        cursor: default;
      }
    }
  }
}
.spinner {
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 10px;
}
