<mat-tab-group [disableRipple]="true" [animationDuration]="0" class="adminTabs" [selectedIndex]="previousIndex">
  <!--
    Users tab
  -->
  <mat-tab *syndicatePermissions="['ADMIN_USERS']">
    <ng-template mat-tab-label>
      <div id="users">
        <mat-icon svgIcon="user"></mat-icon>
        <span>{{ "admin.users" | i18next }}</span>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-user-tab></syndicate-user-tab>
    </ng-template>
  </mat-tab>
  <!--
    Profiles tab
  -->
  <mat-tab *syndicatePermissions="['ADMIN_PROFILES']">
    <ng-template mat-tab-label>
      <div id="profiles">
        <mat-icon svgIcon="profile"></mat-icon>
        <span>{{ "admin.profiles" | i18next }}</span>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-profile-tab></syndicate-profile-tab>
    </ng-template>
  </mat-tab>
  <!--
    Views tab
  -->
  <mat-tab *syndicatePermissions="['ADMIN_VIEWS']">
    <ng-template mat-tab-label>
      <div id="views">
        <mat-icon svgIcon="view"></mat-icon>
        <span>{{ "admin.views" | i18next }}</span>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-view-tab></syndicate-view-tab>
    </ng-template>
  </mat-tab>

  <!--
    Dashboard tab
  -->
  <mat-tab *syndicatePermissions="['ADMIN_DASHBOARD']">
    <ng-template mat-tab-label>
      <div id="dashboard">
        <mat-icon svgIcon="dashboard"></mat-icon>
        <span>{{ "admin.dashboard.tab" | i18next }}</span>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <syndicate-dashboard-tab></syndicate-dashboard-tab>
    </ng-template>
  </mat-tab>
</mat-tab-group>
