.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mat-sidenav {
    background-color: #ffffff;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    .logo {
      height: 15%;
      width: 159px;
      margin-left: 51px;
      cursor: pointer;
      display: flex;
      img {
        width: 100%;
        margin: auto;
      }
    }
    .menu {
      height: 72%;
    }
    .footer {
      background-color: white;
      position: absolute;
      bottom: 0;
      border-top: 1px solid rgba(19, 78, 145, 0.1);
      height: 13%;
      width: 100%;

      .logout {
        cursor: pointer;
        max-width: 255px;
        height: 40px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        border-radius: 20px;
        background-color: #DAE1F0;
        justify-content: space-between;

        .user {
          height: 42px;
          width: 42px;
          color: #134E91;
        }
        .username {
          color: #134E91;
          font-family: "OpenSans";
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 16px;
        }
        .arrow {
          height: 10px;
          width: 10px;
          color: #134E91;
          margin-right: 10px;
          line-height: 10px;
        }
        div {
          display: flex;
          align-items: center;
          margin-left: 35px;
          color: #004289;
          span {
            font-size: 21px;
          }
          button {
            width: 40px;
            margin-left: 23px;
            cursor: pointer;
          }
        }
      }
    }
  }
  mat-sidenav-content {
    main {
      height: 100%;
    }
  }
  mat-drawer-content {
    background-color: #f5f5f5;
  }
  mat-card.mat-card {
    width: 95%;
    margin: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px !important;
  }
}

button.mat-menu-item {
  min-width: 255px;
  padding: 0 20px;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #939393;
  font-family: "OpenSans";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
  border-bottom: 1px solid rgba(19,78,145,0.1);

  &:first-of-type {
    margin-top: -8px;
  }

  &:last-of-type {
    margin-bottom: -8px;
    border-bottom: 0;
  }
}
