.document {
  .header {
    position: relative;
    padding: 27px 43px 43px 43px;
    border-bottom: 1px solid rgba(16, 76, 144, 0.1);
    h1 {
      margin: 0;
      color: #004289;
      font-family: "OpenSansBold";
      font-size: 24px;
      font-weight: bold;
    }
    #close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
  mat-dialog-content {
    margin: 0;
    padding: 33px 43px 0 43px;
    #documentForm {
      mat-form-field {
        width: 100%;
        font-family: "OpenSans";
        font-size: 18px;
        .error {
          color: #ed1c2c;
          font-size: 10px;
          margin-top: 0;
        }
      }
    }
    .importDocument {
      display: flex;
      flex-direction: row;
      align-items: center;
      p {
        margin: 0;
        span {
          color: #ed1c2c;
          margin: 2px;
        }
      }
      input {
        display: none;
      }
      button {
        height: 40px;
        width: auto;
        border-radius: 20px;
        background-color: #004289;
        color: #ffffff;
        font-family: "OpenSans";
        font-size: 14px;
        border: none;
        cursor: pointer;
        outline: none;
        margin: 0 0 20px 0;
      }
      span {
        margin-left: 20px;
        &.tooLarge {
          color: #ed1c2c;
        }
      }
      .file {
        display: flex;
        align-items: center;
        mat-progress-spinner {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }
  mat-dialog-actions {
    margin: 0;
    justify-content: space-between;
    padding: 33px 43px;
    button {
      height: 40px;
      width: 193px;
      border-radius: 20px;
      font-family: "OpenSans";
      font-size: 14px;
      border: none;
      cursor: pointer;
      outline: none;
    }
    #cancelBtn {
      background-color: #ffffff;
      color: #004289;
      border: 1px solid #004289;
      &:hover {
        background-color: #004289;
        color: #ffffff;
      }
    }
    #createBtn {
      background-color: #004289;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &:hover {
        background-color: rgba(16, 76, 144, 0.1);
        color: #ffffff;
      }
      &.disabledBtn {
        background-color: rgba(16, 76, 144, 0.1);
        cursor: default;
      }
    }
  }
}
.spinner {
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 10px;
}
