<syndicate-datatable
  [type]="'users'"
  [data]="users"
  [dataCount]="count"
  [displayedColumns]="['username', 'createdAt', 'action']"
  [pageSizeOptions]="[25, 50, 100]"
  [select]="false"
  [footer]="true"
  [add]="true"
  [addLabel]="'admin.create.user'"
  [addPermission]="'ADMIN_USERS_CREATE'"
  [editPermission]="'ADMIN_USERS_UPDATE'"
  [deletePermission]="'ADMIN_USERS_DELETE'"
  (refreshDataEmitter)="onRefreshUser($event)"
  (displayDetailEmitter)="onDisplayUserDetail($event)"
  (editEmitter)="onEditUser($event)"
  [deletedItemIndex]="deletedUserIndex"
  (removeEmitter)="onRemoveUser($event)"
  (addEmitter)="onCreateUser()">
</syndicate-datatable>