<div class="card" [ngClass]="{'cardCondition': type === 'condition' && category !== 'view'}">
  <div class="header" [style.color]="color">
    <mat-icon class="iconDefects" svgIcon="defect" *ngIf="type === 'default'"></mat-icon>
    <mat-icon class="iconAlarms" svgIcon="small_bell" *ngIf="type === 'alert'"></mat-icon>
    <mat-icon class="icon" svgIcon="list" *ngIf="type === 'condition'"></mat-icon>
    <mat-icon class="icon" svgIcon="diag" *ngIf="type === 'variable'"></mat-icon>
    <mat-icon class="icon" svgIcon="file" *ngIf="type === 'report'"></mat-icon>
    <h3 class="title">{{ title }}</h3>
    <div class="count" *ngIf="type === 'default' || type === 'alert'">
      {{ count }}
    </div>
  </div>
  <div [ngClass]="{'content' : category === 'view' || type === 'equipment' || type === 'machine' }">
    <ng-content></ng-content>
  </div>
  <div class="footer" *ngIf="category !== 'view' && type !== 'machine' && type !== 'equipment'">
    <button (click)="onGoToPage()">
      {{ "global.display.all" | i18next }}
    </button>
  </div>
</div>