<div class="form">
  <syndicate-header [pageName]="pageName"></syndicate-header>
  <div class="container">
    <form id="dashboardCardForm" [formGroup]="dashboardCardForm">
      <div class="infos-basic">
        <!-- Type input -->
        <div class="type">
          <mat-label>{{ 'admin.dashboard.card.select_type' | i18next }}</mat-label>
          <mat-form-field appearance="outline">
            <mat-select
              placeholder="{{ 'admin.dashboard.card.type_placeholder' | i18next }}"
              (selectionChange)="onTypeSelection($event)"
              [value]="'admin.cards.types.' + type"
            >
              <mat-option *ngFor="let type of cardTypesStr; let index = i" [value]="type">
                {{ type | i18next }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- 
            Label input
            For Type : Alert, Default, Report, Condition
          -->
          <div *ngIf="type === cardType.ALERT || type === cardType.DEFAULT  || type === cardType.CONDITION || type === cardType.REPORT">
            <mat-label>{{ 'admin.dashboard.card.name' | i18next }}</mat-label>
            <mat-form-field appearance="outline" >
              <input
              matInput
              type="text"
              id="label"
              name="label"
              [(ngModel)]="label"
              formControlName="label"
              placeholder="{{ 'admin.dashboard.card.name_placeholder' | i18next }}"
              required
              />
            </mat-form-field>
            <!-- 
              Type Card Information
            -->
            <p class="infos-type">{{ 'admin.dashboard.card.infos.' + type | i18next }}</p>
          </div>

          <!-- 
            Extend Form for Card = machine
            Label Input + tab add variable and reorder
          -->
          <div id="machine" *ngIf="type === cardType.MACHINE">
            <mat-horizontal-stepper (selectionChange)="onStepChange($event)" [linear]="true" #stepper>
              <mat-step
                label="{{ 'admin.dashboard.card.infos.machine.step' | i18next }}"
                [stepControl]="dashboardCardForm"
              >
                  <div class="infos-basic">
                    <!-- label input -->
                    <div class="name">
                      <mat-label>{{ 'admin.dashboard.card.name' | i18next }}</mat-label>
                      <mat-form-field appearance="outline" >
                        <input
                        matInput
                        type="text"
                        id="label"
                        name="label"
                        [(ngModel)]="label"
                        formControlName="label"
                        placeholder="{{ 'admin.dashboard.card.name_placeholder' | i18next }}"
                        />
                      </mat-form-field>
                    </div>
                    <!-- Step 1: add variables -->
                    <button mat-button class="btn" (click)="addEquipmentsVariable()">
                      <mat-icon>add</mat-icon>
                      <span>{{ 'admin.dashboard.card.add_variables' | i18next }}</span>
                    </button>
                    <div class="variable" *ngFor="let variable of equipmentsVariables">
                      <div class="item item-name">
                        <span>{{ variable.vId }}</span> 
                        <mat-form-field appearance="outline" >
                          <input
                          matInput
                          type="text"
                          id="label"
                          name="label"
                          [value]="variable.label"
                          (change)="onNameChange($event, variable)"
                          placeholder="{{ 'admin.dashboard.card.name_placeholder' | i18next }}"
                          /></mat-form-field>
                      </div>

                      <div class="item item-values" *ngIf="variable.format === 'bool'" >
                        <div class="item" *ngFor="let key of [0,1], let index = index">
                          <span>Value {{ index }} </span> 
                          <mat-form-field appearance="outline" >
                            <input
                              matInput
                              id="label"
                              type="text"
                              placeholder="{{ 'admin.dashboard.card.infos.machine.value_placeholder' | i18next }}"
                              [value]="variable.values[index]?.label ? variable.values[index].label : ''"
                              (change)="onChange($event, variable, index)"/>
                          </mat-form-field>
                          <syndicate-color-picker [color]="variable.values[index]?.color || colorScheme.domain[index]" (event)="onChangeColor($event,variable, index)"></syndicate-color-picker>
                        </div>
                      </div>
                      <mat-icon svgIcon="trash" (click)="removeEquipmentsVariable(variable.vId)"></mat-icon>
                    </div>
                  </div>
              </mat-step>
              <mat-step
                label="{{ 'admin.dashboard.card.infos.machine.step_order' | i18next }}">
                <!-- Step 2: Order -->
                <div class="step">
                  <p>{{ 'admin.dashboard.card.infos.machine.order' | i18next }}</p>
                  <div class="position">
                    <mat-dialog-content>
                      <div >
                        <p class="column">{{ 'admin.dashboard.card.infos.machine.display.one_column' | i18next }}</p>
                        <mat-slide-toggle class="column" formControlName="column" [(ngModel)]="column" [checked]="column"></mat-slide-toggle>
                        <p class="column">{{ 'admin.dashboard.card.infos.machine.display.two_column' | i18next }}</p>
                      </div>
                  
                      <div cdkDropList class="variables-list" [ngClass]="{'variables-list': column}"(cdkDropListDropped)="dragDrop($event)">
                        <div class="variable-box" *ngFor="let element of equipmentsVariables; index as i" cdkDrag>
                          <div>
                            <span class="number">{{ i + 1 }}</span>
                            <span>{{ element.vId }}</span>
                          </div>
                          
                          <div class="arrows">
                            <mat-icon class="arrow" svgIcon="arrow-down" (click)="down(i)"></mat-icon>
                            <mat-icon class="arrow" svgIcon="arrow-up" (click)="up(i)"></mat-icon>
                          </div>
                          
                          <mat-icon class="dragdrop" svgIcon="dragdrop" cdkDragHandle></mat-icon>
                        </div>
                      </div>
                    </mat-dialog-content>
                  </div>
                </div>
              </mat-step>
            </mat-horizontal-stepper>
          </div>

          <!-- 
            Extend Form for Card = equipment
            Label input + checkbox select views
          -->
          <div *ngIf="type === cardType.EQUIPMENT">
            <mat-label>{{ 'admin.dashboard.card.name' | i18next }}</mat-label>
            <mat-form-field appearance="outline" >
              <input
              matInput
              type="text"
              id="label"
              name="label"
              formControlName="label"
              placeholder="{{ 'admin.dashboard.card.name_placeholder' | i18next }}"
              />
            </mat-form-field>
            <div>
              <p class="column">{{ 'admin.dashboard.card.infos.machine.display.one_column' | i18next }}</p>
              <mat-slide-toggle class="column" formControlName="column" [(ngModel)]="column" [checked]="column"></mat-slide-toggle>
              <p class="column">{{ 'admin.dashboard.card.infos.machine.display.two_column' | i18next }}</p>
            </div>

            <p>{{ 'admin.dashboard.card.infos.equipment' | i18next }}</p>
            <div class="view-label" *ngFor="let view of allViews; index as i">
              <mat-checkbox
                class="checkbox"
                [disableRipple]="true"
                [checked]="view.checked"
                [color]="'primary'"
                (change)="onViewChecked($event, i)">
              </mat-checkbox>
              <span>{{ view.label }}</span>
            </div>
          </div>

        </div>
      </div>
    </form>

    <div class="buttons">
      <button mat-stroked-button id="cancel" class="btn stroked" (click)="onCancel()">
        {{ "global.cancel" | i18next }}
      </button>

      <button mat-stroked-button class="btn" id="submit" (click)="nextStepClick()" *ngIf="type === cardType.MACHINE && dashboardCardForm.valid && equipmentsVariables.length">
        {{ (currentStepIndex < 1 ? "global.next" : (update ? "global.edit" : "global.create")) | i18next }}
      </button>
      <button mat-stroked-button class="btn" id="submit" (click)="onSubmit()" *ngIf="type !== cardType.MACHINE && dashboardCardForm.valid">
        {{ (update ? "global.edit" : "global.create") | i18next }}
      </button>
    </div>
  </div>
</div>
