.documents {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    syndicatendicate-header {
        order: 1;
    }
    .container {
        flex: 1;
        order: 2;
        background-color: #ffffff;
        padding: 20px 0;
    }
}
.card-folder {
    float: left;
    margin: 12px;
    min-height: 215px;
    box-sizing: border-box;
    height: 200px;
    width: 189px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: none;
    overflow: hidden;
    padding: 0;
}
.close {
    float: right;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    margin-right: 15px;
}
.more {
    float: right;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    margin-right: 15px;
}
.more:hover, .check:hover, .close:hover {
    cursor: pointer;
}
.folder-image {
    width: 35%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 5px;
    cursor: pointer;
}
.label {
    height: 52px;
    width: 169px;
    color: #000000;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
}
.rename-field {
    height: 31px;
    width: 97px;
    font-size: 21px;
    padding: 5%;
    margin: auto;
}
.rename-field-error {
    height: 31px;
    width: 97px;
    font-size: 21px;
    padding: 5%;
    margin: auto;
    color: red !important;
}
button.mat-menu-item {
    font-size: 21px;
    .mat-icon.delete {
        color: #FF0000;
    }
}
.filtres {
    display: flex;
    align-items: center;
    .add {
        margin: 10px 15px;
    }
}
.mat-error {
    font-size: small;
}