<div class="documents">
    <syndicate-header [pageName]="pageName"></syndicate-header>
    <div class="container">
      <div class="filtres">
        <div class="add">
          <syndicate-button
            *syndicatePermissions="['DOCUMENTS_CATEGORIES_CREATE']"
            iconName="add"
            label="documents.categories.add" (click)="addObject = true" >
          </syndicate-button>
        </div>
        <syndicate-searchbar
          (output)="onSend($event)">
        </syndicate-searchbar>
        <syndicate-select
          [selectType]="'type'"
          [label]="'type'"
          [options]="types"
          [defaultselect]="defaultselect"
          (selectedValue)=onSelected($event)>
        </syndicate-select>
      </div>
      <div class="folder">
        <ng-container *ngFor="let category of data" [matColumnDef]="category._id">
          <mat-card class="card-folder">
            <div>
              <mat-card-actions>
                <mat-icon svgIcon="more" class="more" [matMenuTriggerFor]="menu"></mat-icon>
                <mat-menu class="menu" #menu="matMenu">
                  <button *syndicatePermissions="['DOCUMENTS_CATEGORIES_UPDATE']" mat-menu-item (click)="renameEditor(category)">
                    <mat-icon svgIcon="edit"></mat-icon>
                    {{ "documents.categories.rename" | i18next }}
                  </button>
                  <button *syndicatePermissions="['DOCUMENTS_CATEGORIES_DELETE']" mat-menu-item (click)="onDelete(category)">
                    <mat-icon class="delete" svgIcon="trash" ></mat-icon>
                    {{ "documents.categories.delete" | i18next }}
                  </button>
                </mat-menu>
              </mat-card-actions>
            </div>
            <div class="folder-image" (click)="onGoToPage(category)">
              <img mat-card-image src="/assets/imgs/folder.png">
            </div>
            <mat-card-subtitle class="label">
              <div *ngIf="!category.rename">
                {{ category.label }}
              </div>
              <div *ngIf="category.rename && !category.isDefault">
                <form (ngSubmit)="rename($event, category)">
                  <input class="rename-field" name="rename" value="{{ category.label }}" maxlength="30" [ngClass]="{'rename-field-error': category.error}">
                  <button mat-icon-button type="submit">
                    <mat-icon class="check" svgIcon="check-green"></mat-icon>
                  </button>
                  <mat-error class="error" *ngIf="category.error">
                    {{ category.error }}
                  </mat-error>
                </form>
              </div>
            </mat-card-subtitle>
          </mat-card>
        </ng-container>

        <mat-card class="card-folder" *ngIf="addObject === true">
          <div>
            <mat-card-actions>
              <mat-icon svgIcon="close" class="close" (click)="addObject = false"></mat-icon>
            </mat-card-actions>
          </div>
          <div class="folder-image">
            <img mat-card-image src="/assets/imgs/folder.png">
          </div>
          <mat-card-subtitle class="label">
            <div>
              <form (ngSubmit)="add($event)">
                <input class="rename-field" name="add" value="" maxlength="30">
                <button mat-icon-button type="submit">
                  <mat-icon class="check" svgIcon="check-green"></mat-icon>
                </button>
              </form >
            </div>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
