.item {
  .condition {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 18px;
    span {
      color: #626262;
      font-family: "OpenSans";
      font-size: 16px;
    }
    mat-icon {
      margin-right: 26px;
      min-width: 24px;
      max-width: 24px;
      max-height: 24px;
      min-height: 24px;
    }
  }
  .other {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 18px;
    span {
      color: #626262;
      font-family: "OpenSans";
      font-size: 16px;
      &#name {
        width: 35%;
        max-width: 35%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      &#date {
        width: 30%;
        max-width: 30%;
      }
      &#category, &#operator {
        width: 35%;
        max-width: 35%;
      }
      &#value, &#unit {
          color: #0F4C90;
          font-family: "OpenSans";
          font-size: 16px;
          font-weight: bold;
          line-height: 19px;
          text-align: center;
      }
      &#value {
        font-family: "OpenSansBold";
        font-weight: bold;
        margin-right: 5px;
      }
    }
    .status {
      width: 15%;
      .circle {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .description {
      width: 85%;
      .view-label {
        width: 100%;
        font-weight: 600;
        height: 20px;
      }
      .details {
        height: 20px;
      }
    }
  }
  mat-icon {
    color: #6E7F95;
    min-width: 24px;
    max-width: 24px;
    max-height: 24px;
    min-height: 24px;
    cursor: pointer;
    &:hover {
      color: #004289;
    }
  }
}

.mat-list-item {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  break-inside: avoid-column; /* W3C */
}

.card {
  margin-bottom: 5px;
  padding: 10px;
}
