<mat-list-item *ngFor="let item of items" class="item" [ngClass]="{'card': type === 'equipment'}">
  <div *ngIf="type === 'condition'" class="condition">
      <mat-icon *ngIf="item.result" svgIcon="check" inline [ngStyle]="{'color': '#32af39'}"></mat-icon>
      <mat-icon *ngIf="!item.result" svgIcon="error" inline [ngStyle]="{'color': '#ed1c2c'}"></mat-icon>
      <span>{{ item.descr }}</span>
  </div>
  <div *ngIf="type === 'default' || type === 'alert'" class="other">
      <span id="name">{{ item.vId }}</span>
      <span id="date">{{ item.d | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}</span>
      <span id="category">{{ item.c }}</span>
  </div>
  <div *ngIf="type === 'report'" class="other">
    <span id="name">{{ item.name }}</span>
    <span id="date">{{ item.createdAt | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm:ss'}}</span>
    <span id="operator">{{ item.operator | nameFormat }}</span>
  </div>
  <div *ngIf="type === 'variable'" class="other">
    <span id="name">{{ item.vId }}</span>
    <div>
      <span id="value">{{ item.val }}</span>
      <span id="unit">{{ item.unit }}</span>
    </div>
  </div>
  <div *ngIf="type === 'machine'" class="other">
    <span id="name" *ngIf="!item.label">{{ item.vId }}</span>
    <span id="name" *ngIf="item.label">{{ item.label }}</span>
    <div *ngIf="item.result.format === 'bool'">
      <span [ngStyle]="{'color': item.result.color }" *ngIf="!item.result.label">{{ item.result.value }}</span>
      <span [ngStyle]="{'color': item.result.color }" *ngIf="item.result.label">{{ item.result.label }}</span>
    </div>
    <div *ngIf="item.result.format !== 'bool'">
      <span>{{ item.result.value }} {{ item.result.unit }}</span>
    </div>
  </div>
  <div *ngIf="type === 'equipment'" class="other">
    <div class="status">
      <div [ngStyle]="{'background-color': (item.result.default) ? '#FF4A58' : ((!item.result.default && item.result.alert) ? '#FEB43F' : '#5EC77E') }" class="circle"></div>
    </div>
    <div class="description">
      <span class="view-label">{{ item.label }}</span>
      <div class="details">
        <span *ngIf="item.result.default">{{ item.result.default }} {{ 'equipment.default' | i18next }}{{ item.result.default > 1 ? 's' : '' }}</span>
        <span *ngIf="item.result.default && item.result.alert"> - </span>
        <span *ngIf="item.result.alert">{{ item.result.alert }} {{ 'equipment.alert' | i18next }}{{ item.result.alert > 1 ? 's' : '' }}</span>
        <span *ngIf="!item.result.default && !item.result.alert">{{ 'equipment.none' | i18next }}</span>
      </div>
    </div>
  </div>
  <mat-icon svgIcon="eye" inline (click)="onDetail(item._id)" *ngIf="type === 'report' || type === 'equipment'"></mat-icon>
  <mat-icon svgIcon="eye" inline (click)="onDetail(item)" *ngIf="type === 'condition' && category !== 'view'"></mat-icon>
  <mat-icon svgIcon="eye" inline (click)="onDetail(item.vId)" *ngIf="type === 'default' || type === 'alert'"></mat-icon>
</mat-list-item>
