<div class="filtres">
  <div *ngIf="import">
    <syndicate-button
      *syndicatePermissions="[importPermission]"
      class="add"
      iconName="trash"
      [label]="addLabel"
      (clickEvent)="onImport()">
    </syndicate-button>
  </div>
  <div *ngIf="add">
    <syndicate-button
      *syndicatePermissions="[addPermission]"
      class="add"
      iconName="add"
      [label]="addLabel"
      (clickEvent)="onAdd()">
    </syndicate-button>
  </div>
  <syndicate-searchbar
    *ngIf="searchbar"
    [input]="currentSearch"
    (output)="onSend($event)">
  </syndicate-searchbar>
  <syndicate-datepicker
    *ngIf="datepicker"
    [currentDates]="currentDates"
    (selectedDate)="onSelectDate($event)">
  </syndicate-datepicker>
  <syndicate-select
    *ngIf="select && selectType === 'config_variables'"
    [selectType]="'variables'"
    [label]="selectVariable"
    [options]="variablesOptions"
    [defaultselect]="defaultVarSelect"
    (selectedValue)=onSelectedVariables($event)>
  </syndicate-select>
  <syndicate-select
    *ngIf="select"
    [selectType]="selectType"
    [label]="selectLabel"
    [options]="options"
    [defaultselect]="defaultselect"
    (selectedValue)=onSelected($event)>
  </syndicate-select>
  <div *ngIf="export">
    <div *syndicatePermissions="[exportPermission]" (click)="onExport()" class="export">
      <mat-icon svgIcon="export"></mat-icon>
    </div>
  </div>
</div>
<div class="dataTable">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <mat-header-cell *matHeaderCellDef mat-sort-header [disableClear]="true" [disabled]="col === 'action' || col === 'val' || col === 'c' || col === 'category' || (col === 'type' && type === 'report') || (type === 'views' && col === 'label')" [ngClass]="{'colTypeWidth': (col === 'type' && type !== 'report' || col === 'result'), 'colActionCounter': (col === 'action' && type === 'config_counter') }">
        <span class="header">{{ "datatable." + (type && (type === "profiles" || type === "views") && col === "label" ? type + "_" + col : col) | i18next }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index" [ngClass]="{'colTypeWidth': (col === 'type' && type !== 'report' || col === 'result'), 'colActionCounter': (col === 'action' && type === 'config_counter') }">
        <!-- Alerts type icon -->
        <div *ngIf="col === 't' || col === 'type' && type !== 'counter'">
            <mat-icon *ngIf="row[col] === 'default'" svgIcon="error" [ngStyle]="{'color': '#ed1c2c'}"></mat-icon>
            <mat-icon *ngIf="row[col] === 'alert'" svgIcon="warning" [ngStyle]="{'color': '#ed9c1c'}"></mat-icon>
            <span *ngIf="row[col] !== 'default' && row[col] !== 'alert'">{{ row[col] }}</span>
        </div>

        <!-- Data row -->
        <div *ngIf="!col === listOfCol.includes(col)">
          {{ row[col] }}
        </div>
        <!-- documentType -->
        <div *ngIf="col === 'documentType' || col === 'reportType'">
          {{ row[col].label }}
        </div>
         <!-- documentCategory -->
         <div *ngIf="col === 'documentCategory'">
          {{ row[col].label }}
        </div>
        <!--  Operator -->
        <div *ngIf="col === 'operator'">
          {{ row[col] | nameFormat }}
        </div>

        <!-- Data date -->
        <div *ngIf="col === 'updatedAt' || col === 'createdAt' || col === 'd' || col === 'startDate' || col === 'endDate' || col === 'date'">
          {{ row[col] | amLocal | amDateFormat: 'DD/MM/YYYY' }}
          {{ "global.at" | i18next }}
          {{ row[col] | amLocal | amDateFormat: 'HH:mm:ss' }}
        </div>
        <div
          *ngIf="col === 'condition'"
          [ngStyle]="{'color': row.result ? '#32af39' : '#ed1c2c'}">
            {{ row[col] }}
        </div>

        <div *ngIf="col === 'result'">
          <mat-icon svgIcon="check" [ngStyle]="{'color': '#32af39'}" *ngIf="row.result"></mat-icon>
          <mat-icon svgIcon="error" [ngStyle]="{'color': '#ed1c2c'}" *ngIf="!row.result"></mat-icon>
        </div>

        <div *ngIf="col === 'enable'">
          <div [ngStyle]="{ 'background-color': (row[col]) ? '#5EC77E' : '#FF4A58' }" class="circle"></div>
          <div *ngIf="!row[col]">{{ "config.state.disable" | i18next }}</div>
          <div *ngIf="row[col]">{{ "config.state.enable" | i18next }}</div>
        </div>

        <div *ngIf="col === 'type' && type === 'counter'">
          <div *ngIf="row[col] === counterType.CUSTOM">{{ "variables.counter.type.custom" | i18next }}</div>
          <div *ngIf="row[col] === counterType.VARIABLE">{{ "variables.counter.type.variable" | i18next }}</div>
        </div>

        <div *ngIf="col === 'variable'">
          {{ row[col].vId }}
        </div>

        <!-- Action row -->
        <div *ngIf="col === 'action'" class="actions">
          <!-- Button Component here -->
          <button (click)="onDisplayDetail(row)" *ngIf="type !== 'document' && type !== 'report' && type !== 'users' && type !== 'profiles' && type !== 'views' && type !== 'devices' && type !== 'config_variables' && type !== 'counter' && type !== 'config_counter'">
            {{ "global.display.one" | i18next }}
          </button>
          <div class="report" *ngIf="type === 'report' || type === 'document' || type === 'users' || type === 'profiles' || type === 'views' || type === 'devices' || type === 'config_variables' || type === 'counter' || type === 'config_counter'">
            <button class="reset" (click)="onReset(row)" *ngIf="type === 'config_counter'">
              {{ "config.counter.reset" | i18next }}
            </button>
            <mat-icon *ngIf="type !== 'views' && type !== 'counter' && type !== 'config_counter'" svgIcon="eye" (click)="onDisplayDetail(row)"></mat-icon>
            <mat-icon *ngIf="type === 'counter' || type === 'config_counter'" svgIcon="info" [matTooltip]="row.description"></mat-icon>
            <mat-icon *syndicatePermissions="[editPermission]" svgIcon="edit" class="edit" (click)="onEdit(row)"></mat-icon>
            <div class="delete" *ngIf="deletedIndex !== i">
              <mat-icon *syndicatePermissions="[deletePermission]" svgIcon="trash" (click)="onRemove(row, i)"></mat-icon>
            </div>
            <mat-spinner *ngIf="deletedIndex === i" diameter="20"></mat-spinner>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="elementRow">
    </mat-row>
  </mat-table>

  <mat-paginator
    *ngIf="footer"
    [length]="count"
    [pageSize]="25"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
