<div class="alert">
  <div class="header">
    <h1 mat-dialog-title>
      {{ data.vId }}
    </h1>
    <mat-icon svgIcon="close" id="close" [mat-dialog-close]="true"></mat-icon>
    <div class="subTitle">
      <span>{{ data.c }}</span>
      <div class="date">
        <mat-icon svgIcon="clock"></mat-icon>
        <p *ngIf="data.d && !data.dates">
          {{ data.d | amLocal | amDateFormat: 'DD/MM/YYYY' }}
          {{ "global.at" | i18next }}
          {{ data.d | amLocal | amDateFormat: 'HH:mm:ss'}}</p>
        <p *ngIf="data.dates?.startDate && data.dates?.endDate">
          {{ "global.start" | i18next }} : {{ data.dates.startDate | amLocal | amDateFormat: 'DD/MM/YYYY'}} {{ "global.at" | i18next }} {{ data.dates.startDate | amLocal | amDateFormat: 'HH:mm:ss'}}
          &#124;
          {{ "global.end" | i18next }} : {{ data.dates.endDate | amLocal | amDateFormat: 'DD/MM/YYYY'}} {{ "global.at" | i18next }} {{ data.dates.endDate | amLocal | amDateFormat: 'HH:mm:ss'}}
      </p>
      </div>
    </div>
  </div>
  <mat-dialog-content>
    <div class="infos">
      <span><b>{{ 'global.category' | i18next }} : </b>{{ data.c }}</span>
      <span><b>{{ 'global.location' | i18next }} : </b>{{ data.location }}</span>
    </div>
    <div class="description">
      <h4>{{ "global.description" | i18next }}</h4>
      <p *ngIf="data.descr && data.descr.length > 0">{{ data.descr }}</p>
      <p *ngIf="!data.descr && data.descr.length === 0">{{ "global.noDescription" | i18next }}</p>
    </div>
    <div class="advice">
      <div class="advice-head">
        <h4>{{ "global.advice" | i18next }}</h4>
        <div class="edit" *syndicatePermissions="['ALERTS_ADVICE_UPDATE']">
          <mat-icon svgIcon="edit" (click)="adviceEditor()"></mat-icon>
        </div>
      </div>
      <div *ngIf="!edit">
        <p *ngIf="data.advice && data.advice.length > 0">{{ data.advice }}</p>
        <p *ngIf="!data.advice && data.advice.length === 0">{{ "global.noAdvice" | i18next }}</p>
      </div>
      <div *ngIf="edit">
        <form (ngSubmit)="editAdvice($event, data)">
          <textarea class="advice-field" name="advice" value="{{ data.advice }}" placeholder="Entrez du texte ici..."></textarea>
          <div class="advice-buttons">
            <button mat-button (click)="cancel()">
              Annuler
            </button>
            <button mat-button type="submit">
              Valider
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">
      {{ "global.close" | i18next }}
    </button>
  </mat-dialog-actions>
</div>
