<div class="modal">
  <div class="header">
    <h1 mat-dialog-title>
      {{ data._id }}
    </h1>
    <mat-icon svgIcon="close" id="close" [mat-dialog-close]="true"></mat-icon>
    <span>{{ data.ip }}</span>
    <div class="enable">
      <div [ngStyle]="{ 'background-color': (data.enable) ? '#5EC77E' : '#FF4A58' }" class="circle"></div>
      <div *ngIf="!data.enable">{{ "config.state.disable" | i18next }}</div>
      <div *ngIf="data.enable">{{ "config.state.enable" | i18next }}</div>
    </div>
  </div>
  <mat-dialog-content>
    <div class="description">
      <div class="col1">
        <div>
          <span>{{ "config.device.fields.constructionId" | i18next }} :</span>
          {{ data.constructionId }}
        </div>
        <div>
          <span>{{ "config.device.fields.machineId" | i18next }} :</span>
          {{ data.machineId }}
        </div>
        <div>
          <span>{{ "config.device.fields.equipmentId" | i18next }} :</span>
          {{ data.equipmentId }}
        </div>
      </div>
      <div class="col2">
        <div>
          <span>{{ "config.device.fields.rack" | i18next }} :</span>
          {{ data.rack }}
        </div>
        <div>
          <span>{{ "config.device.fields.slot" | i18next }} :</span>
          {{ data.slot }}
        </div>
        <div>
          <span>{{ "config.device.fields.period" | i18next }} :</span>
          {{ data.period }}
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">
      {{ "global.close" | i18next }}
    </button>
  </mat-dialog-actions>
</div>
