<div class="container">
  <div class="inputs">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        id="name"
        name="name"
        [value]="card.label"
        placeholder="{{ 'admin.view.cards.name_placeholder' | i18next }}"
        (change)="onNameChange($event)"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="{{ 'admin.view.cards.type_placeholder' | i18next }}"
        (selectionChange)="onTypeSelection($event)"
        [value]="'admin.cards.types.' + card.type"
      >
        <mat-option *ngFor="let type of cardTypesStr; let index = i" [value]="type">
          {{ type | i18next }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-stroked-button class="stroked-btn" *ngIf="typeIndex >= 0 || card.type.length > 0" (click)="addVariables()">
    <mat-icon svgIcon="add"></mat-icon>
    {{ addStr | i18next }}
  </button>
  <div class="choices">
    <div class="position">
        <div class="variable-list">
          <div class="variable-list_item" *ngFor="let choice of choices; index as i">
            <div class="variable-list_box">
              <div>
                <span class="number">{{ i + 1 }}</span>
                <span>{{ (typeIndex < 3 ? choice.vId : choice.rule) }}</span>
              </div>

              <div class="arrows">
                <mat-icon class="arrow" svgIcon="arrow-down" (click)="down(i)"></mat-icon>
                <mat-icon class="arrow" svgIcon="arrow-up" (click)="up(i)"></mat-icon>
              </div>
            </div>
            <mat-icon class="variable-list_item-trash" svgIcon="trash" (click)="remove(i)"></mat-icon>
          </div>
        </div>
    </div>
  </div>
</div>
