.container {
  height: 400px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
  padding: 25px 25px 0 25px;

  .inputs {
    display: flex;
    flex-direction: row;

    mat-form-field {
      margin-top: 7px;
      width: calc(50% - 20px);
      font-family: "OpenSans";
      font-size: 18px;
      margin: 0 10px;

      ::ng-deep .mat-form-field-flex {
        max-height: 40px;
        min-height: 40px;
      }

      ::ng-deep .mat-form-field-outline {
        top: 0;
        color: #9AA7B6;
      }

      ::ng-deep .mat-form-field-infix {
        border-top: 0;
        padding: .5em 0;
      }

      ::placeholder, ::ng-deep.mat-select-placeholder {
        color: #5A6872;
        font-family: "OpenSans";
        font-size: 16px;
        letter-spacing: 0;
        line-height: 22px;
      }

      ::ng-deep.mat-select-arrow-wrapper {
        height: 40px;
      }
    }
  }

  .choices {
    .position {
      overflow-x: hidden;

      .variable-list {
        max-width: 100%;
        min-height: 60px;
        display: block;
        background: white;
        border-radius: 4px;
        margin-top: 10px;
        max-height: 250px;
        overflow: auto;

        &_item {
          display: flex;
          flex-direction: row;

          &-trash {
            margin-left: 25px;
            height: 35px;
            color: #6E7F95;
            cursor: pointer;
          }
        }

        &_box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          background-color: #F7F7F7;
          border-radius: 6px;
          height: 35px;
          width: 100%;
        }
      }

      .number {
        margin-left: 20px;
        margin-right: 30px;
      }

      .arrows {
        margin-left: auto;

        .arrow {
          cursor: pointer;
          float: right;
          height: 30px;
        }

        .arrow:hover {
          background-color: #ffffff;
          border-radius: 6px;
        }
      }
    }
  }

  .stroked-btn {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    font-family: "OpenSans";
    cursor: pointer;
    outline: none;
    border-color: #6E7F95;
    background-color: white;
    color: #6E7F95;
    border-width: 2px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 17px;
  }
}

button {
  mat-icon {
    height: 17px;
  }
}
