<div class="variable">
  <div class="header">
    <syndicate-searchbar (output)="onSend($event)" [input]="currentSearch"></syndicate-searchbar>
    <syndicate-select
      [label]="'categorie'"
      [options]="options"
      [defaultselect]="filter.category"
      (selectedValue)="onSelected($event)">
    </syndicate-select>
    <mat-icon svgIcon="close" id="close" mat-dialog-close></mat-icon>
  </div>
  <mat-dialog-content>
    <mat-spinner *ngIf="loading" class="spinner" diameter="60"></mat-spinner>
    <div *ngIf="!loading">
      <mat-radio-group>
        <div *ngFor="let c of categories">
          <div class="category">
            <span>{{ c.category }}</span>
          </div>
          <mat-list role="list">
            <mat-list-item *ngFor="let v of c.variables">
              <div class="variable">
                <mat-checkbox
                  *ngIf="multiple"
                  class="checkbox"
                  [disableRipple]="true"
                  [checked]="isChecked(v.vId)"
                  (change)="onChange(v)">
                </mat-checkbox>
                <mat-radio-button
                  *ngIf="!multiple"
                  [disableRipple]="true"
                  [value]="v.vId"
                  [checked]="isChecked(v.vId)"
                  (change)="onChange(v)"
                >
                </mat-radio-button>
                <span>{{ v.vId }} - {{ 'config.variable.formats.' + v.format | i18next }}</span>
              </div>
              <mat-icon
                svgIcon="info"
                matTooltip="{{ v.descr }}"
                [matTooltipPosition]="'left'">
              </mat-icon>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close id="cancelBtn">
      {{ "global.cancel" | i18next }}
    </button>
    <button
      mat-button
      id="confirmBtn"
      (click)="sendVariables()"
      [disabled]="selectedVariables.length === 0 || send"
      [ngClass]="{'disabledBtn': selectedVariables.length === 0 || send}">
        <mat-spinner *ngIf="send" class="spinner" diameter="20"></mat-spinner>
        {{ "global.set" | i18next }}
    </button>
  </mat-dialog-actions>
</div>
