.documents {
  height: 100%;
  display: flex;
  flex-direction: column;
  syndicate-header {
    order: 1;
  }
  .container {
    flex: 1;
    order: 2;
    background-color: #ffffff;
  }
  .label {
    font-size: 25px;
    font-family: "OpenSans";
    margin: 0;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 0;
  }
  .head {
    margin-bottom: -20px;
    .back {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      height: 40px;
      width: 178px;
      border: 2px solid #134E91;
      border-radius: 20px;
      background-color: #FFFFFF;
      color: #134E91;
      font-size: 12px;
      font-weight: bold;
      margin-left: 20px;
      margin-bottom: 25px;
      cursor: pointer;
      .icon {
        float: left;
        margin-right: 10px;
        margin-left: 15px;
        mat-icon {
          height: 16px;
          width: 16px;
          color: #134E91;
          vertical-align: middle;
        }
      }
    }
  }
}
