<div class="datepicker">
  <mat-icon svgIcon="calendar"></mat-icon>
  <input
    matInput
    [(ngModel)]="dateTime"
    [owlDateTime]="dt"
    [selectMode]="'range'"
    [owlDateTimeTrigger]="dt"
    [rangeSeparator]="'-'"
    [readonly]="true"
    (dateTimeChange)="dateTimeChange($event)"
    placeholder="{{ 'datatable.datetime.placeholder' | i18next }}">
  <owl-date-time #dt [showSecondsTimer]="true" panelClass="customDatepicker"></owl-date-time>
  <mat-icon
    svgIcon="close"
    class="reset"
    *ngIf="dateTime"
    (click)="clearValue($event)">
  </mat-icon>
</div>

