.select {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 20px 0 30px 0;
  h3 {
    display: inline-block;
    color: #626262;
    font-family: "OpenSans";
    font-size: 18px;
    margin: 0 10px 0 0;
  }
  .mat-form-field-appearance-outline {
    height: 30px;
    width: 203px;
    .mat-form-field-wrapper {
      margin: 0;
      padding: 0;
    }
    .mat-form-field-infix {
      padding: 0;
      height: 30px;
    }
    .mat-select-value-text {
      color: #626262;
      font-family: "OpenSans";
      font-size: 18px;
    }
    .mat-select-arrow {
      margin: 15px 4px;
    }
  }
}
