<div class="degradedMode">
  <syndicate-header [pageName]="pageName"></syndicate-header>
  <div class="container">
    <mat-accordion [displayMode]="'flat'">
      <mat-expansion-panel *ngFor="let mode of degradedModes" [expanded]="mode._id === openedPanel" (opened)="isOpened(mode._id)" (closed)="isClosed(mode._id)">
        <mat-expansion-panel-header [collapsedHeight]="'92px'" [expandedHeight]="'92px'">
          <mat-panel-title>
            <div class="statut" [ngStyle]="{'background-color': mode.active ? '#ED9C1C' : '#8F8F8F'}"></div>
            <span *ngIf="mode.active" [ngStyle]="{'color': '#ED9C1C'}">{{ 'degradedMode.active' | i18next }}</span>
            <span *ngIf="!mode.active" [ngStyle]="{'color': '#8F8F8F'}">{{ 'degradedMode.inactive' | i18next }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="name">{{ mode._id}}</span>
            <div *ngIf="mode.active" class="active">
              <div class="labels">
                <div>
                  <mat-icon svgIcon="clock"></mat-icon>
                  <span>{{ 'degradedMode.activeDate' | i18next }}</span>
                </div>
                <!-- <div>
                  <mat-icon svgIcon="dropsort"></mat-icon>
                  <span>{{ 'degradedMode.timer' | i18next }}</span>
                </div> -->
              </div>
              <div class="values">
                <div>
                  {{ mode.startedAt | amLocal | amDateFormat: 'DD/MM/YYYY à HH:mm:ss'}}
                </div>
                <!-- <div class="timer">
                  {{ timer }}
                </div> -->
              </div>
              <div class="stopAction">
                <button type="button" class="stopActionBtn" (click)="stopMode($event, mode._id)">
                  {{ 'degradedMode.stopAction' | i18next }}
                </button>
              </div>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="panelContent">
          <div class="validityTimer">
            <mat-icon svgIcon="clock"></mat-icon>
            <span>{{ 'degradedMode.validityTimer' | i18next }} :</span>
            <span class="timerValue" *ngIf="mode.validityTimer">{{ mode.validityTimer }}</span>
            <span class="timerValue" *ngIf="!mode.validityTimer">n/a</span>
          </div>
        <div class="description">
          <h3>{{ 'global.description' | i18next }} :</h3>
          <p *ngIf="mode.descr">{{ mode.descr }}</p>
          <p *ngIf="!mode.descr">{{ "global.noDescription" | i18next }}</p>
        </div>
        <div class="consequences">
          <div class="title">
            <mat-icon svgIcon="warning"></mat-icon>
            <h3>{{ 'degradedMode.consequences' | i18next }} :</h3>
          </div>
          <p *ngIf="mode.consequences">{{ mode.consequences }}</p>
          <p *ngIf="!mode.consequences">{{ "global.noConsequences" | i18next }}</p>
        </div>
        <div class="action">
          <button type="button" class="startModeBtn" (click)="onStartMode(mode._id)" *ngIf="!mode.active">
            <mat-icon svgIcon="warning"></mat-icon>
            <span>{{ 'degradedMode.startMode' | i18next }}</span>
          </button>
          <button type="button" class="stopModeBtn" (click)="stopMode($event, mode._id)" *ngIf="mode.active">
            {{ 'degradedMode.stopAction' | i18next }}
          </button>
        </div>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
