<div class="import">
  <div class="header">
    <h1 mat-dialog-title *ngIf="data.mode === 'add'">
      {{ "config.counter.add.title" | i18next }}
    </h1>
    <h1 mat-dialog-title *ngIf="data.mode === 'edit'">
      {{ "config.counter.edit.title" | i18next }}
    </h1>
    <mat-icon svgIcon="close" id="close" mat-dialog-close></mat-icon>
  </div>
  <mat-dialog-content>
    <div class="container" appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" #fileDropRef accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="fileDropRef" (change)="fileBrowseHandler($event)" />
      <mat-icon>add</mat-icon>
      <h3>Drag and drop file here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>
    </div>
    <div class="files-list">
      <div class="single-file" *ngIf="file">
        <mat-icon>trash</mat-icon>
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <p class="size">
            {{ formatBytes(file?.size) }}
          </p>
          <mat-progress-bar 
          *ngIf="loading"
          mode="indeterminate"
          ></mat-progress-bar>
            <!-- <mat-progress-spinner
              *ngIf="loading"
              [mode]="'determinate'"
              [value]="file?.progress"
              diameter="20">
            </mat-progress-spinner> -->
        </div>
        <mat-icon (click)="deleteFile(i)">close</mat-icon>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <!-- Cancel button -->
    <button mat-button mat-dialog-close id="cancelBtn">
      {{ "global.cancel" | i18next }}
    </button>
  </mat-dialog-actions>
</div>
