p {
    margin: 0;
}

.summary-info {
    max-width: 270px;
    padding: 15px;
    display: flex;
}

.info {
    width: calc(100% - 40px);
}

p.style {
    color: #000;
    margin-bottom: 5px;
}

p.style-value {
    color: #595b65;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 10px;
}

.circle {
    max-height: 5%;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #dadada;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.opened {
    box-shadow: 0 7px 13px 0 rgba(86, 95, 102, 0.07);
    background: #fff;
    max-width: 270px;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin-top: 15px;
    .header {
        padding: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p {
            margin: 0;
            font-family: "OpenSansBold";
            font-weight: bold;
        }
        #close {
            cursor: pointer;
        }
    }
}


.circle-opener {
    max-height: 5%;
    height: 40px;
    width: 40px;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid #fbfbf8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.colors {
    display: flex;
    flex-wrap: wrap;
}

.circle {
    margin-right: 10px;
}

.circle:nth-child(5n) {
    margin-right: 0;
}
