<div class="views" *ngIf="views$ | async">
  <div class="header">
    <syndicate-header [pageName]="pageName"></syndicate-header>
    <button class="order" (click)="changePosition()" mat-button>
      <mat-icon class="icon-order" svgIcon="order"></mat-icon>
      {{ "views.arrange.action" | i18next }}
    </button>
  </div>
  <mat-tab-group [disableRipple]="true" [animationDuration]="0" class="viewsTabs" [selectedIndex]="selectedIndex" (selectedIndexChange)="onTabChanged($event)">
    <mat-tab *ngFor="let view of views">
      <ng-template mat-tab-label>
        <div id="view">
          <span>{{ view.label }}</span>
        </div>
      </ng-template>
      <ng-template matTabContent>
        <syndicate-views-card [data]="view"></syndicate-views-card>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
