<div class="node">
  <syndicate-hardware-scheme-card
    [ngClass]="{ invisible: station === null }"
    [station]="station"
  ></syndicate-hardware-scheme-card>
  <div
    class="connector"
    [ngClass]="{ invisible: station === null }"
    [style.background-color]="!station?.vComm ? '#B9BEC4' : (station?.vComm.value ? '#5EC77E' : '#FF4A58')"
  >
  </div>
  <div
    class="link"
    [ngClass]="((position === 0) || (position === 3)) || ((position === 2) && (length === 3)) ? 'half' : 'full'"
    [style.align-self]="((position === 0)) ? 'flex-end' : ''"
  >
  </div>
</div>
