.node {
  display: flex;
  flex-flow: column wrap;
  margin-top: 32px;
  min-width: 100%;

  syndicate-hardware-scheme-card.invisible {
    visibility: hidden;
  }

  .connector {
    max-width: 5px;
    max-height: 27px;
    min-height: 27px;
    min-width: 5px;
    align-self: center;
    z-index: 1;

    &.invisible {
      visibility: hidden;
    }
  }

  .link {
    background-color: #5EC77E;
    margin-top: -5px;
    min-height: 5px;
    max-height: 5px;
    z-index: 2;

    &.half {
      width: calc(50% + 2.5px);
    }

    &.full {
      width: 100%;
    }
  }
}
