<syndicate-datatable
  [type]="'profiles'"
  [data]="profiles"
  [dataCount]="count"
  [displayedColumns]="['label', 'description', 'createdAt', 'action']"
  [pageSizeOptions]="[25, 50, 100]"
  [select]="false"
  [footer]="true"
  [add]="true"
  [addLabel]="'admin.create.profile'"
  [addPermission]="'ADMIN_PROFILES_CREATE'"
  [editPermission]="'ADMIN_PROFILES_UPDATE'"
  [deletePermission]="'ADMIN_PROFILES_DELETE'"
  (refreshDataEmitter)="onRefreshProfile($event)"
  (displayDetailEmitter)="onDisplayProfileDetail($event)"
  (editEmitter)="onEditProfile($event)"
  [deletedItemIndex]="deletedProfileIndex"
  (removeEmitter)="onRemoveProfile($event)"
  (addEmitter)="onCreateProfile()">
</syndicate-datatable>