.red-background {
  background-color: rgba(255,74,88,0.3);
}

.mat-card {
  margin-right: 12.5px;
  margin-left: 12.5px;
  border-radius: 6px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);

  .bad {
    ::ng-deep svg {
      max-height: 20px;
      max-width: 20px;
      color: #FF4A58
    }
  }

  .good {
    ::ng-deep svg {
      max-height: 20px;
      max-width: 20px;
      fill: #5EC77E
    }
  }

  .grey {
    ::ng-deep svg {
      max-width: 20px;
      max-height: 20px;
      fill: #B9BEC4;
    }
  }

  .mat-card-header {
    ::ng-deep .mat-card-header-text {
      width: 100%;
      margin-right: 0;
    }

    .mat-card-title {
      color: #134E91;
      font-family: "OpenSansBold";
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 25px;
      min-height: 25px;
      max-height: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        line-height: 24px;
        width: 24px;
        height: 24px;

        .mat-icon {
          color: #B9BEC4;
        }
      }
    }
  }

  .mat-card-content {
    margin: 0 16px;

    p {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      color: #626262;
      font-family: "OpenSans";
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 19px;
    }

    #ip {
      color: #134E91;
      font-family: "OpenSansBold";
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 19px;
    }
  }

  .mat-card-actions {
    display: flex;
    justify-content: center;

    button {
      border-radius: 20px;
      background-color: #004289;
      color: #ffffff;
      font-family: "OpenSans";
      font-size: 12px;
      border: none;
      cursor: pointer;
      outline: none;
      line-height: 20px;
    }

    button:disabled {
      background-color: #B9BEC4;
      cursor: auto;
    }
  }

  .status-bar {
    min-height: 7px;
    max-height: 7px;
    border-radius: 0 0 6px 6px;
    margin: -16px;
  }
}

#trash {
  color: #FF4A58;
}
