<mat-card [class.red-background]="!station?.state">
  <mat-card-header>
    <mat-card-title>
      <span>{{ station?.label }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="more_vertical"></mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      <span>{{ 'hardware_architecture.communication' | i18next }}</span>
      <span>
        <mat-icon
          svgIcon="{{ station?.vComm ? (station?.vComm.value ? 'done' : 'close') : 'horizontal_rule' }}"
          class="{{ station?.vComm ? (station?.vComm.value ? 'good' : 'bad') : 'grey' }}">
        </mat-icon>
      </span>
    </p>
    <p>
      <span>{{ 'hardware_architecture.hardware' | i18next }}</span>
      <span>
        <mat-icon
          svgIcon="{{ station?.vMachine ? (station?.vMachine.value ? 'done' : 'close') : 'horizontal_rule' }}"
          class="{{ station?.vMachine ? (station?.vMachine.value ? 'good' : 'bad') : 'grey' }}">
        </mat-icon>
      </span>
    </p>
    <p>
      <span>{{ 'hardware_architecture.ip' | i18next }}</span>
      <span id="ip">{{ station?.ip }}</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      (click)='onDetailClick(station?.label, station?.variables)'
      [disabled]="!(station?.variables && station?.variables.length)"
    >
      {{ 'hardware_architecture.details' | i18next }}
    </button>
  </mat-card-actions>
  <div
    class="status-bar"
    [style.background-color]="!station?.vComm ? '#B9BEC4' : (station?.vComm.value ? '#5EC77E' : '#FF4A58')"
  ></div>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onPingClick()">
    <mat-icon svgIcon="ping"></mat-icon>
    <span>{{ 'hardware_architecture.ping' | i18next }}</span>
  </button>
  <button *syndicatePermissions="['HARDWARE_UPDATE']" mat-menu-item (click)="onEditClick()">
    <mat-icon svgIcon="edit"></mat-icon>
    <span>{{ 'global.edit' | i18next }}</span>
  </button>
  <button *syndicatePermissions="['HARDWARE_DELETE']" mat-menu-item (click)="onRemoveStation(station._id)">
    <mat-icon id="trash" svgIcon="trash"></mat-icon>
    <span>{{ 'global.delete' | i18next }}</span>
  </button>
</mat-menu>
