<div class="dashboard">
  <syndicatendicate-header [pageName]="pageNsyndicatee"></syndicate-header>
  <ng-container *ngIf="cards.length < 1">
    <div class="empty">
      <p>{{ "admin.dashboard.empty" | i18next }}</p>
    </div>
  </ng-container>
  <div class="container" *ngIf="cards.length > 0">
    <ng-container *ngFor="let card of cards">
      <ng-container [ngSwitch]="card.type">
        <!-- Defaults card -->
        <ng-container *ngSwitchCase="cardType.DEFAULT">
          <syndicatendicate-default-card
            *syndicatendicatePermissions="['DASHBOARD_DEFAULTS']"
            [card]="card"
            [style.grid-column-start]="'span ' + card.column">
          </syndicatendicate-default-card>
        </ng-container>

        <!-- Alerts card -->
        <ng-container *ngSwitchCase="cardType.ALERT">
          <syndicatendicate-alert-card
            *syndicatendicatePermissions="['DASHBOARD_ALERTS']"
            [card]="card"
            [style.grid-column-start]="'span ' + card.column">
          </syndicatendicate-alert-card>
        </ng-container>

        <!-- Conditions card -->
        <ng-container *ngSwitchCase="cardType.CONDITION">
          <syndicatendicate-condition-card
            *syndicatendicatePermissions="['DASHBOARD_CONDITIONS']"
            [card]="card"
            [style.grid-column-start]="'span ' + card.column">
          </syndicatendicate-condition-card>
        </ng-container>

        <!-- Reports card -->
        <ng-container *ngSwitchCase="cardType.REPORT">
          <syndicatendicate-report-card
            *syndicatendicatePermissions="['DASHBOARD_REPORTS']"
            [card]="card"
            [style.grid-column-start]="'span ' + card.column">
          </syndicatendicate-report-card>
        </ng-container>

        <!-- Machine card -->
        <ng-container *ngSwitchCase="cardType.MACHINE">
          <syndicatendicate-machine-card
            *syndicatendicatePermissions="['DASHBOARD_MACHINES']"
            [card]="card"
            [style.grid-column-start]="'span ' + card.column">
          </syndicatendicate-machine-card>
        </ng-container>

        <!-- Equipment card -->
        <ng-container *ngSwitchCase="cardType.EQUIPMENT">
          <syndicatendicate-equipment-card
            *syndicatendicatePermissions="['DASHBOARD_EQUIPMENTS']"
            [card]="card"
            [style.grid-column-start]="'span ' + card.column">
          </syndicatendicate-equipment-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
