.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  margin: 0 47px;

  syndicate-header {
    order: 1;
    align-self: flex-start;
  }

  .container {
    order: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 24px;
    margin-bottom: 25px;
    min-width: 100%;
  }

  .empty {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 175px;
    width: 76%;
    margin: 60px auto;
    border: 1px solid #d2d1d1;
    border-radius: 6px;
    background-color: #f7f7f7;

    p {
      color: #a6a3a3;
      font-family: "OpenSans";
      margin: 0;
      font-size: 18px;
    }
  }
}
