<div class="views" *ngIf="data?.cards">
  <div class="container" *ngFor="let view of data.cards">
    <div class="view" *ngIf="view.type === 'default'">
      <syndicate-card
        [title]="view.label"
        [type]="view.type"
        [category]="'view'"
        [color]="'#ed1c2c'"
        [count]="countDefaults[view.label]"
       >
        <syndicate-card-list
          [data]="defaults[view.label]"
          [type]="view.type"
          (selectEmitter)="onSelect($event, 'default')"
          *ngIf="defaults"
        >
        </syndicate-card-list>
      </syndicate-card>
    </div>
    <div class="view" *ngIf="view.type === 'alert'">
      <syndicate-card
        [title]="view.label"
        [type]="view.type"
        [category]="'view'"
        [color]="'#ed9c1c'"
        [count]="countAlerts[view.label]"
      >
        <syndicate-card-list
          [data]="alerts[view.label]"
          [type]="view.type"
          (selectEmitter)="onSelect($event, 'alert')"
          *ngIf="alerts"
        >
        </syndicate-card-list>
      </syndicate-card>
    </div>
    <div class="view" *ngIf="view.type === 'machine'">
      <syndicate-card
        [title]="view.label"
        [type]="'variable'"
        [category]="'view'"
        [color]="'#004289'"
      >
        <syndicate-card-list
          [data]="machines[view.label]"
          [type]="'variable'"
          *ngIf="machines"
        >
        </syndicate-card-list>
      </syndicate-card>
    </div>
    <div class="view" *ngIf="view.type === 'condition'">
      <syndicate-card
        [title]="view.label"
        [type]="view.type"
        [category]="'view'"
        [color]="'#004289'"
      >
        <syndicate-card-list
          [data]="conditions[view.label]"
          [type]="view.type"
          [category]="'view'"
          *ngIf="conditions"
        ></syndicate-card-list>
      </syndicate-card>
    </div>
  </div>
</div>
