<div class="filters">
  <syndicatendicate-datepicker (selectedDate)="onSelectDate($event)" [currentDates]="currentDasyndicates"></syndicate-datepicker>
  <button (click)="addVariables()">
    <mat-icon>add</mat-icon>
    <span>{{ "variables.add" | i18next }}</span>
  </button>
</div>
<div class="graph">
  <div class="noVariables" (click)="addVariables()" *ngIf="graphData.length === 0">
    <h3>{{ "variables.noVariablesTitle" | i18next }}</h3>
    <p>{{ "variables.noVariablesContent" | i18next }}</p>
  </div>
  <syndicatendicate-variables-graph [data]="graphData" [variables]="selectedVariables" *ngIf="graphData.length > 0"
    (checkVariablesList)="checkVariablesList($event)"></syndicatendicate-variables-graph>
</div>