.ping {
    .header {
      padding: 17px 15px 17px 40px;
      border: 1px solid rgba(16,76,144,0.1);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      h1 {
        margin: 0;
        color: #134E91;
        font-family: "OpenSansBold";
        font-size: 21px;
        font-weight: bold;
      }
      #close {
        cursor: pointer;
      }
    }
    mat-dialog-content {
      margin: 0;
      padding: 0px 40px;
      .logs {
        border: 2px solid #E0E0E0;
        border-radius: 10px;
        padding: 10px;
      }
      .progress {
        height: 50px;
        padding: 15px;
        p {
          float: left;
        }
        img {
          height: 100%;
          float: right;
        }
        .dots {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .loader > div, .success > div, .error > div {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin : 3px;
        }
        .loader > div {
          background-color: #A5AEB9;
          animation: 1s infinite bgcolorchange;
        }
        .success > div {
          background-color: #3BCF33;
        }
        .error > div {
          background-color: #FF4A58;
        }
        .error {
          color: #FF4A58;
        }
        @keyframes bgcolorchange {
          to {
            background-color: #134E91;
          }
        }
        .loader > div:nth-child(2) {
          animation-delay: 0.25s;
        }
        .loader > div:nth-child(3) {
          animation-delay: 0.5s;
        }
        .loader > div:nth-child(4) {
          animation-delay: 0.75s;
        }
      }
    }
    mat-dialog-actions {
      justify-content: center;
      margin-top: 40px;
      #closeBtn {
        height: 40px;
        width: 193px;
        border-radius: 20px;
        background-color: #004289;
        color: #ffffff;
        font-family: "OpenSans";
        font-size: 14px;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
          background-color: rgba(16, 76, 144, 0.1);
          color: #ffffff;
        }
        &.disabledBtn {
          background-color: rgba(16, 76, 144, 0.1);
          cursor: default;
        }
      }
    }
  }