<div class="ping">
    <div class="header">
      <h1 mat-dialog-title>
        {{ "hardware_architecture.ping_modal.title" | i18next }} {{ data.station }}
      </h1>
      <mat-icon svgIcon="close" id="close" mat-dialog-close></mat-icon>
    </div>
    <mat-dialog-content>
      <div *ngIf="!finish">
        <div class="progress">
            <p>{{ "hardware_architecture.ping_modal.progress" | i18next }}...</p>
            <div class="loader dots">
                <img src="/assets/imgs/ping-comp.png">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <img src="/assets/imgs/ping-serv.png">
            </div>
        </div>
        <div class="logs">
            {{ "hardware_architecture.ping_modal.send" | i18next }}  {{ data.ip }} :
            <br>
            <br>
            <br>
        </div>
      </div>
      <div *ngIf="finish">
        <div *ngIf="!state">
            <div class="progress">
                <p>{{ "hardware_architecture.ping_modal.error" | i18next }} !</p>
                <div class="dots error">
                    <img src="/assets/imgs/ping-comp.png">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <img src="/assets/imgs/ping-serv.png">
                    <mat-icon svgIcon="error"></mat-icon>
                </div>
            </div>
            <div class="logs">
                {{ "hardware_architecture.ping_modal.send" | i18next }}  {{ data.ip }} : <br>
                {{ "hardware_architecture.ping_modal.replyFrom" | i18next }} {{ data.ip }} : {{ "hardware_architecture.ping_modal.timeout" | i18next }}
                <br>
                <br>
                {{ "hardware_architecture.ping_modal.error" | i18next }}.
            </div>
        </div>
        <div *ngIf="state">
            <div class="progress">
                <p>{{ "hardware_architecture.ping_modal.success" | i18next }} !</p>
                <div class="dots success">
                    <img src="/assets/imgs/ping-comp.png">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <img src="/assets/imgs/ping-serv.png">
                    <mat-icon svgIcon="check-green"></mat-icon>
                </div>
            </div>
            <div class="logs">
                {{ "hardware_architecture.ping_modal.send" | i18next }}  {{ data.ip }} : <br>
                Ping to {{ data.ip }} took {{ time }} ms
                <br>
                <br>
                {{ "hardware_architecture.ping_modal.success" | i18next }}.
            </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button id="closeBtn" mat-button [mat-dialog-close]="true" [disabled]="!finish" [ngClass]="{'disabledBtn': !finish}">
            {{ "global.close" | i18next }}
        </button>
    </mat-dialog-actions>
  </div>
