<div class="position">
  <div class="header">
    <h1 mat-dialog-title>
      {{ title | i18next }}
    </h1>
    <mat-icon svgIcon="close" id="close" mat-dialog-close></mat-icon>
  </div>

  <mat-dialog-content>
    <div class="description">{{ description | i18next }}</div>

    <div cdkDropList class="stations-list" (cdkDropListDropped)="dragDrop($event)">
      <div class="station-box" *ngFor="let element of list; index as i" cdkDrag>
        <div>
          <span class="number">{{ i + 1 }}</span>
          <span>{{ element.label }}</span>
        </div>
        
        <div class="arrows">
          <mat-icon class="arrow" svgIcon="arrow-down" (click)="down(i)"></mat-icon>
          <mat-icon class="arrow" svgIcon="arrow-up" (click)="up(i)"></mat-icon>
        </div>
        
        <mat-icon class="dragdrop" svgIcon="dragdrop" cdkDragHandle></mat-icon>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close id="cancelBtn">
      {{ "global.cancel" | i18next }}
    </button>

    <button mat-button id="confirmBtn" (click)="submit()">
      {{ "global.set" | i18next }}
    </button>
  </mat-dialog-actions>
</div>
