@import "~ng-pick-datetime/assets/style/picker.min.css";

@font-face {
  font-family: "OpenSans";
  src: url(/assets/fonts/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSansBold";
  src: url(/assets/fonts/OpenSans-Bold.ttf) format("truetype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "OpenSans", "Helvetica Neue", sans-serif;
}

/**
***********************************
* Override Angular Material Spinner
***********************************
**/
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #004289;
}

/**
***********************************
* Override Angular Material Tabs
***********************************
**/
.mat-tab-labels {
  margin: 0 30px;
}

.mat-tab-label {
  opacity: 1 !important;
  font-family: "OpenSans";
  padding: 0 15px !important;
  height: 63px !important;
  &.mat-ripple.ng-star-inserted.mat-tab-label-active {
    box-sizing: border-box;
    span {
      font-family: "OpenSans" !important;
    }
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  display: none;
}

/**
**************************************************
* Override Angular Material dataTable Paginator
**************************************************
**/

.mat-paginator-container {
  height: 55px;
  justify-content: space-between !important;
  color: #152935;
  font-family: "OpenSans";
  min-height: 55px !important;
  font-size: 16px;
  padding: 0px 10px 0 0 !important;
  background-color: rgba(239, 239, 239, 0.3);

  .mat-paginator-range-label {
    color: #4d4d4d;
    font-family: "OpenSans";
    font-size: 12px;
    margin: 0 5px 0 5px;
  }
  .mat-paginator-page-size {
    display: flex;
    align-items: center;
    height: 55px;
    .mat-paginator-page-size-label {
      margin-left: 14px !important;
    }
    .mat-select-trigger {
      margin-right: 9px !important;
    }
    .mat-select-arrow-wrapper {
      padding-top: 2px !important;
    }
  }

  .mat-paginator-icon {
    width: 22px !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0;
  }
  .mat-select-value-text {
    color: #152935;
    font-family: "OpenSans";
    font-size: 16px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding-top: 9px !important;
  }
}

/**
**************************************************
* Override Angular Material Dialog Component
**************************************************
**/
mat-dialog-container {
  padding: 0 !important;
  border-radius: 6px !important;
  background-color: #ffffff !important;;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;;
}

/**
**************************************************
* Override Angular Material field Component
**************************************************
**/
.mat-form-field-invalid .mat-input-element {
  color: #ed1c2c;
  caret-color: #ed1c2c;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #004289;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #ed1c2c;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #004289;
}

.mat-focused .mat-form-field-required-marker {
  color: #ed1c2c;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
  color: #ed1c2c;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ed1c2c;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #004289;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color : #ed1c2c;
}

.mat-list-base .mat-list-item {
  height: 40px !important;
}

.mat-list-item .mat-list-item-content {
  width: 100%;
  justify-content: space-between;
}

/**
**************************************************
* Override datetimepicker plugin
**************************************************
**/
.customDatepicker{
  .owl-dt-control .owl-dt-control-content {
    font-family: "OpenSans";
  }
  .owl-dt-popup-container {
    border-radius: 6px;
  }
  .owl-dt-timer-input {
    font-family: "OpenSans";
  }
  .owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: #004289;
  }
  .owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
    background: rgba(16, 76, 144, 0.1);
  }
  .owl-dt-container-info .owl-dt-container-info-active {
    color: #004289;
  }
  .owl-dt-container-control-button {
    color: #004289;
    &:hover {
      background-color: rgba(16, 76, 144, 0.1);
      color: #ffffff;
    }
  }
}

/**
**************************************************
* Override Angular Material table
**************************************************
**/
mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  max-width: 120px !important;
}


/**
**************************************************
* Override Angular Material Mat radio button
**************************************************
**/
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #004289;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #004289;
}

/**
 * Snackbar personalization
 */

.customSnackbar {
  border: solid 1px black;
  border-left-width: 8px;
  color: black;
  background-color: white;
}

.successSnackbar {
  @extend .customSnackbar;
  border-color: green;
}

.errorSnackbar {
  @extend .customSnackbar;
  border-color: red;
}

.warningSnackbar {
  @extend .customSnackbar;
  border-color: orange;
}

/* Overrides SnackBar CSS in Material Design's .mat-simple-snackbar class */
/* Original sizes: font: 24px, height: 47.952px */
.mat-simple-snackbar {
  font-size: 16px !important; // 28px  is double, 42px for triple
}
.mat-snack-bar-container {
  min-width: 300px !important;
  max-width: 300px !important;
}

