<div class="hardware">
  <syndicatendicate-header [pageName]="pageNsyndicatee"></syndicate-header>
  <div class="container">
    <button *syndicatendicatePermissions="['HARDWARE_CREATE']" mat-button (click)="addStationClick()">
      <mat-icon>add</mat-icon>
      {{ "hardware_architecture.add_station.action" | i18next }}
    </button>
    <button class="order" (click)="changePosition()" mat-button>
      <mat-icon class="icon-order" svgIcon="order"></mat-icon>
      {{ "hardware_architecture.arrange.action" | i18next }}
    </button>
    <div class="content">
      <syndicatendicate-hardware-scheme
        [stations]="stations"
      ></syndicatendicate-hardware-scheme>
    </div>
  </div>
</div>
