<div class="container">
  <syndicate-button
    class="add"
    iconName="add"
    [label]="'admin.dashboard.new_card'"
    (clickEvent)="onAdd()">
  </syndicate-button>

  <div class="dashboard-content">
    <div class="grid" cdkDropList (cdkDropListDropped)="dragDrop($event)">
      <syndicate-dashboard-admin-card
        *ngFor="let card of cards"
        [card]="card"
        [style.grid-column-start]="'span ' + card.column"
        (delete)="deleteCard($event)"
        cdkDrag
      >
        <mat-icon svgIcon="dragdrop" cdkDragHandle></mat-icon>
      </syndicate-dashboard-admin-card>
    </div>
  </div>
</div>
