.container {
  margin: 28px;
  display: flex;
  flex-direction: column;

  .dashboard-content {
    background-color: #F7F7F7;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    padding: 26px 0;

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 40px;
      row-gap: 24px;
      max-width: 75%;
      min-width: 75%;

      mat-icon {
        color: #6E7F95;
        cursor: grab;
        margin-top: 0;
      }

      mat-icon:active {
        cursor: grabbing;
      }
    }
  }
}
