<div class="document">
  <div class="header">
    <h1 mat-dialog-title>
      {{ "global.confirm" | i18next }}
    </h1>
    <mat-icon svgIcon="close" id="close" mat-dialog-close></mat-icon>
  </div>
  <mat-dialog-content>  
    <h1 *ngIf="data.isDefault" mat-dialog-title>
      {{ "documents.categories.error.default" | i18next }}
    </h1>
    <form *ngIf="!data.isDefault" [formGroup]="documentForm" id="documentForm" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1">
            <mat-icon svgIcon="warning" id="close" mat-dialog-close></mat-icon>

        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="3"
            [rowspan]="1">
              <h1 mat-dialog-title>
                {{ "documents.delete.confirmation" | i18next }}
              </h1>

        </mat-grid-tile>    
      </mat-grid-list>
      
      <!-- Document Category -->
      <div  class="documentType">
        <h4>{{ "documents.delete.transfert" | i18next }}</h4>
        <mat-form-field appearance="outline">
          <mat-label>{{ 'documents.category' | i18next}}</mat-label>
          <mat-select required formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category._id">
              {{ category.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <!-- Cancel button -->
    <button mat-button mat-dialog-close id="cancelBtn">
      {{ "global.cancel" | i18next }}
    </button>

    <!-- Adding button -->
    <button *ngIf="!data.isDefault"
      id="createBtn"
      mat-button
      form="documentForm">
      <mat-spinner *ngIf="loading" class="spinner" diameter="20"></mat-spinner>
      <span>{{ "global.delete" | i18next }}</span>
  </button>

  </mat-dialog-actions>
</div>
