.graph {
  width: auto;
  height: auto;
  .graph-card {
    min-height: 345px;
    margin: 30px 45px 30px 45px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .graph-table {
    table {
      width: 100%;
      th {
        .header {
          color: #626262;
          font-family: "OpenSansBold";
          font-size: 18px;
        }
      }
      td {
        min-height: 58px;
        &.elementRow:hover {
          background-color: rgba(16, 76, 144, 0.1);
        }
        color: #626262;
        font-family: "OpenSans";
        font-size: 18px;
        font-weight: normal;
        .ng-star-inserted {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .scale {
          input {
            height: 30px;
            width: 45px;
            color: #626262;
            font-family: "OpenSans";
            font-size: 14px;
            border: 1px solid rgba(16, 76, 144, 0.1);
            border-radius: 5px;
            text-align: center;
            &.first {
              margin-right: 25px;
            }
          }
        }
        .roundColor {
          color: inherit;
          width: 20px;
          height: 20px;
          border-radius: 10px;
        }
        .actions {
          width: 100%;
          display: flex;
          align-items: center;
          mat-icon {
            color: #6e7f95;
            cursor: pointer;
            &:hover {
              color: #004289;
            }
            &.info {
              color: #004289;
            }
          }
          .hide, .eye {
            margin: 0 20px;
          }
        }
      }
    }
  }
}

.tooltipTemplate {
  .variable {
    font-family: "OpenSansBold";
    font-size: 16px;
    font-weight: bold;
  }
  .date {
    margin: 15px 0;
  }
  .value {
    font-size: 18px;
  }
}
