<syndicate-datatable
  [type]="'config_variables'"
  [data]="variables"
  [dataCount]="count"
  [displayedColumns]="['vId', 'deviceId', 'constructionId', 'machineId', 'equipmentId', 'enable', 'action']"
  [pageSizeOptions]="[25, 50, 100]"
  [footer]="true"
  [searchbar]="true"
  [select]="true"
  [selectLabel]="'deviceId'"
  [selectType]="'config_variables'"
  [options]="devices"
  [selectVariable]="'machineId'"
  [variablesOptions]="machines"
  [add]="true"
  [export]=true
  [import]=true
  [addLabel]="'config.variable.add.title' | i18next"
  [addPermission]="'CONFIG_VARIABLES_CREATE'"
  [editPermission]="'CONFIG_VARIABLES_UPDATE'"
  [deletePermission]="'CONFIG_VARIABLES_DELETE'"
  [exportPermission]="'CONFIG_VARIABLES_EXPORT'"
  [importPermission]="'CONFIG_VARIABLES_IMPORT'"
  (refreshDataEmitter)="onRefresh($event)"
  (displayDetailEmitter)="onDisplayDetail($event)"
  (exportEmitter)="onExport()"
  (importEmitter)="onImport()"
  (editEmitter)="onEdit($event)"
  (removeEmitter)="onRemove($event)"
  (addEmitter)="onAdd()">
</syndicate-datatable>