.searchBar {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 24px;
  display: flex;
  height: 42px;
  overflow: hidden;
  color: #5a6872;
  margin-right: 20px;
  input {
    border: 0;
    flex: 1 1 auto;
    height: 40px;
    background-color: transparent;
    outline: none;
    padding: 0 0 0 18px;
    font-family: "OpenSans";
    font-size: 18px;
    color: #626262;
  }
  button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    background-color: #004289;
    color: #ffffff;
    font-family: "OpenSans";
    font-size: 14px;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;
    border: none;
    &:hover {
      background-color: rgba(16, 76, 144, 0.1);
    }
    mat-icon {
      height: 16px;
      width: 16px;
      margin: 0 5px 0 10px;
    }
  }
}
